.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-around;

  width: 100%;
  height: 140px;

  overflow: hidden;

  &>div {
    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;

    overflow: hidden;
  }
}

.btn {
  border: none;
    background-color: transparent;

  width: 90px;
  height: 90px;

  &>svg {
    width: 80px;
    height: 80px;
  }

  &>img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
    transform: scale(1.4);

    border-radius: 50%;
    outline: 2px solid rgba(73, 0, 73, 0.5);
    box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.3);
  }
}

/*cel*/
@media only screen and (max-width: 667px) {
  .btn::after {
    content: '';
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 0%;
    height: 0%;
    border-radius: 50%;
    background-color: rgba(255, 0, 242, 0.6);

    transition: height 1s, width 1s, border-radius 2s;

    z-index: -1;
  }

  .btn:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 0%;
  }
}